<!-- page content -->
<div class="right_col" role="main" style="min-height: 540px;" ng-controller="CreateBookController">
  <div class="">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>新規登録</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form id="demo-form2" class="form-horizontal form-label-left" name="registerForm" ng-submit="submitForm()">

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">書名 <span class="required">*</span>
                      </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="book.name" name="name" ng-required="true" ng-model="book.name" class="form-control col-md-7 col-xs-12"
                  />
                  <span ng-show="registerForm.name.$error.required">書名は必須です。</span>
                </div>{{book.name}}
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">著者 <span class="required">*</span>
                      </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="book.author" name="author" required="required" ng-model="book.author" class="form-control col-md-7 col-xs-12"
                  /><span ng-show="registerForm.author.$error.required">著者は必須です。</span>
                </div>{{book.author}}
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">出版社 <span class="required">*</span>
                      </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="book-publisher" name="publisher" required="required" ng-model="book.publisher" class="form-control col-md-7 col-xs-12"
                  /><span ng-show="registerForm.publisher.$error.required">出版社は必須です。</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">カテゴリ<span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select id="book.category" class="form-control" name="category" required="required" ng-model="book.category">
                          <option value="">Choose..</option>
                          <option value="press">Press</option>
                          <option value="net">Internet</option>
                          <option value="mouth">Word of mouth</option>
                        </select>
                  <span ng-show="registerForm.category.$error.required">カテゴリは必須です。</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">出版日 <span class="required">*</span>
                      </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="single_cal2" name="publishDate" class="form-control has-feedback-left" ng-model="book.publishDate"
                    aria-describedby="inputSuccess2Status2" required="required" /><span ng-show="registerForm.publishDate.$error.required">出版日は必須です。</span>
                  <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                  <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                </div>
              </div>
              <div class="form-group">
                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">概要  </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea id="book.abstract" class="form-control parsley-success" ng-model="book.abstract" data-parsley-trigger="keyup"></textarea>
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button class="btn btn-primary" type="submit">キャンセル</button>
                  <!-- コンソールへ試験的に出力するようにしている -->
                  <button type="submit" class="btn btn-success">登録確認</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->